<%= link_to  "New Procedure",new_procedure_path %>

<% @procedures.each do |f|%>
    <div>
        <%=f.name%> 
        <%= link_to "Edit",edit_procedure_path(f.id) %> | <%= link_to "Delete",procedure_path(f.id), method: :delete,
              data: { confirm: 'Are you sure?'} %>
    </div>
<%end%>